.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 15px;
  margin-bottom: 40px;
}

.left-section {
  width: 200px;
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle-section {
  flex: 1;
  margin-right: 30px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-section {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-box {
  flex: 1;
}
